<ul role="menu">
    <li>
        <a href="#" tabindex="0" role="menuitem">Physical data</a>
        <ul>
            <li><a href="@PageRoute.PhysicalDimension.List" tabindex="0" role="menuitem">Physical dimension</a></li>
            <li><a href="@PageRoute.TimePeriod.List" tabindex="0" role="menuitem">Time period</a></li>
        </ul>
    </li>
</ul>