@charset "UTF-8";

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}

th, td {
    padding: 20px;
    border: 5px solid var(--background-color-primary);
}

th {
    background-color: var(--background-color-primary);
    color: white;
    align-content:start;
}

tr:nth-child(even) {
    background-color: var(--background-color-secondary);
}

tr:hover {
    background-color: var(--hover-color);
}

caption {
    font-size: 1.5em;
    margin: 10px;
    color: var(--text-color);
}